*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    
}
.antialiased{
    height: 100%;
    width: 100%;
    background: url(/images/photo4.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
   }
.logo{
    float: left;
}

